/*
button:hover{
  background-color: rgb(30, 58, 138);
}

a:hover{
  color: rgb(30, 58, 138);
  font-weight: bold;
}
*/

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.square {
  width: 50vw;
  height: 50vw;
}

#ReactSimpleImageViewer {
  z-index: 30;
}

.imageViewer img {
  height: 9rem;
  width: 9rem;
  object-fit: cover;
  border-radius: 0.25rem;
  --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.imageViewer div {
  padding: 0.25rem;
}

.card:hover {
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  /*shadow-lg*/
  transform: translate(0, -2px);
  transition-duration: 0.5s;
}

.card {
  transform: translate(0, 2px);
  transition-duration: 0.5s;
}

.card:hover img {
  transform: scale(1.03);
  transition-duration: 0.75s;
}

.card img {
  transform: scale(1);
  transition-duration: 0.75s;
}

.servicePage svg:hover {
  border-radius: 10%;
  animation: pulse-animation 1s forwards;
}

@keyframes pulse-animation {
  100% {
    box-shadow: 0 0 0 2px rgb(0, 95, 149);
    background-color: rgb(0, 95, 149);
    color: white;
  }
}

.homeIcon:hover {
  border-radius: 10%;
  animation: pulse-animation 1s forwards;
}

.homeIcon:hover ion-icon {
  animation: toWhite 1s forwards;
}

@keyframes toWhite {
  100% {
    color: white;
  }
}

.image-gallery-image {
  height: 24rem;
}

@media only screen and (max-width: 600px) {
  .image-gallery-image {
    height: 18rem;
  }

  .fullscreen .image-gallery-image {
    height: auto;
  }
}

.fullscreen .image-gallery-image {
  height: auto;
}

.image-gallery-thumbnail-inner {
  height: 4rem;
  position: relative;
  overflow: hidden;
}

.image-gallery-thumbnail-image {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

.image-gallery-svg {
  height: 4px;
}

.newsContent span,
.newsContent a,
.newsContent p,
.newsContent table {
  font-size: 1rem !important;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif !important;
}

.newsContent a {
  color: rgb(0, 95, 149) !important;
}

.newsContent table {
  width: 100% !important;
}

.newsContent p {
  margin-bottom: 1rem;
}

.newsCard:hover {
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  transition-duration: 0.75s;
}

.newsCard:hover img {
  transform: scale(1.03);
  transition-duration: 0.75s;
}

.newsCard img {
  transform: scale(1);
  transition-duration: 0.75s;
}

.newsTitle:hover {
  color: rgb(0, 95, 149);
  transition-duration: 0.5s;
}

/*spinning logo for get more*/
@keyframes ldio-mhvcbdpseok {
  0% {
    opacity: 1;
    backface-visibility: hidden;
    transform: translateZ(0) scale(1.5,1.5);
  } 100% {
    opacity: 0;
    backface-visibility: hidden;
    transform: translateZ(0) scale(1,1);
  }
}
.ldio-mhvcbdpseok div > div {
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #005f95;
  animation: ldio-mhvcbdpseok 1s linear infinite;
}.ldio-mhvcbdpseok div:nth-child(1) > div {
  left: 74px;
  top: 44px;
  animation-delay: -0.875s;
}
.ldio-mhvcbdpseok > div:nth-child(1) {
  transform: rotate(0deg);
  transform-origin: 80px 50px;
}.ldio-mhvcbdpseok div:nth-child(2) > div {
  left: 65px;
  top: 65px;
  animation-delay: -0.75s;
}
.ldio-mhvcbdpseok > div:nth-child(2) {
  transform: rotate(45deg);
  transform-origin: 71px 71px;
}.ldio-mhvcbdpseok div:nth-child(3) > div {
  left: 44px;
  top: 74px;
  animation-delay: -0.625s;
}
.ldio-mhvcbdpseok > div:nth-child(3) {
  transform: rotate(90deg);
  transform-origin: 50px 80px;
}.ldio-mhvcbdpseok div:nth-child(4) > div {
  left: 23px;
  top: 65px;
  animation-delay: -0.5s;
}
.ldio-mhvcbdpseok > div:nth-child(4) {
  transform: rotate(135deg);
  transform-origin: 29px 71px;
}.ldio-mhvcbdpseok div:nth-child(5) > div {
  left: 14px;
  top: 44px;
  animation-delay: -0.375s;
}
.ldio-mhvcbdpseok > div:nth-child(5) {
  transform: rotate(180deg);
  transform-origin: 20px 50px;
}.ldio-mhvcbdpseok div:nth-child(6) > div {
  left: 23px;
  top: 23px;
  animation-delay: -0.25s;
}
.ldio-mhvcbdpseok > div:nth-child(6) {
  transform: rotate(225deg);
  transform-origin: 29px 29px;
}.ldio-mhvcbdpseok div:nth-child(7) > div {
  left: 44px;
  top: 14px;
  animation-delay: -0.125s;
}
.ldio-mhvcbdpseok > div:nth-child(7) {
  transform: rotate(270deg);
  transform-origin: 50px 20px;
}.ldio-mhvcbdpseok div:nth-child(8) > div {
  left: 65px;
  top: 23px;
  animation-delay: 0s;
}
.ldio-mhvcbdpseok > div:nth-child(8) {
  transform: rotate(315deg);
  transform-origin: 71px 29px;
}
.loadingio-spinner-spin-wx94p40losn {
  width: 60px;
  height: 60px;
  display: inline-block;
  overflow: hidden;
  background: #ffffff;
}
.ldio-mhvcbdpseok {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(0.6);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-mhvcbdpseok div { box-sizing: content-box; }

/* generated by https://loading.io/ */